$background-: red;
$text-color: #212529;
$white: white;
$black: black;
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather Sans", sans-serif;
}

.scroll-line-top {
    height: 6px;
    background-color: #f4623a;
    position: fixed;
    z-index: 2;
    top: 0;
}

.main-container {
    .header {
        .navbar-wrap {
            color: $white;
            background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%),
                url("./images/bg-masthead.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            height: 100vh;
            .navbar {
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 45px;
                padding: 22px 0px;
                align-items: center;
                transition: all 0.5s ease;
                position: fixed;
                .logo {
                    font-size: 20px;
                    padding-left: 150px;
                }
                .menu-list ul {
                    display: flex;
                    list-style-type: none;
                    gap: 20px;
                    margin-right: 150px;
                }
                &.scrolled {
                    background-color: white;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    color: $black;
                    position: fixed;
                    z-index: 1;
                }
            }
            .hdr-cnt {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                position: absolute;
                .devider {
                    width: 3.25rem;
                    margin: 1.5rem auto;
                    opacity: 1;
                    border: 1px solid #f4623a;
                    background: #f4623a;
                }
                .heading {
                    font-size: 56px;
                    width: 100%;
                    max-width: 710px;
                    text-align: center;
                    line-height: 1.2;
                }
                .sub-heading {
                    font-size: 18.4px;
                    color: rgba(255, 255, 255, 0.75) !important;
                    width: 800px;
                    margin-bottom: 3rem;
                    text-align: center;
                    line-height: 1.5;
                }
                .hdr-cnt-btn button {
                    padding: 1.25rem 2.25rem;
                    font-size: 0.85rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    border: none;
                    border-radius: 10rem;
                    border-color: #f4623a;
                    background: #f4623a;
                    color: white;
                }
            }
        }
    }
    .hdr-sub-cnt {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 8rem 0;
        background: #f4623a;
        .devider {
            width: 3.25rem;
            margin: 1.5rem auto;
            opacity: 1;
            border: 1px solid $white;
            background: $white;
        }
        .sub-cnt-heading {
            font-size: 32px;
            width: 100%;
            max-width: 680px;
            text-align: center;
            line-height: 1.2;
            color: white;
        }
        .sub-cnt-sub-heading {
            font-size: 16px;
            width: 680px;
            margin-bottom: 3rem;
            color: white;
            text-align: center;
        }
        .sub-cnt button {
            padding: 1.25rem 2.25rem;
            font-size: 0.85rem;
            font-weight: 700;
            text-transform: uppercase;
            border: none;
            border-radius: 10rem;
            border-color: $white;
            background: $white;
            color: black;
        }
    }
    .service-container {
        padding: 8rem 0;
        .sr-heading {
            font-size: 32px;
            text-align: center;
        }
        .devider {
            width: 3.25rem;
            margin: 1.5rem auto;
            opacity: 1;
            border: 1px solid #f4623a;
            background: #f4623a;
        }
        .service-cnt {
            display: flex;
            margin: 0px 15rem;
            .service-cnt-wrapper {
                text-align: center;
                margin: 0px 55px;
                .sr-cnt-logo i {
                    color: #f4623a;
                    font-size: 2.5rem;
                }
                .sr-cnt-title {
                    font-size: 24px;
                }
                .sr-cnt-desc {
                    font-size: 16px;
                    color: #6c757d !important;
                    line-height: 1.5;
                }
            }
        }
    }
    .img-gallary {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .img img {
            width: 100%;
            height: 100%;
        }
    }
    .img-gallary-down-sec {
        padding: 8rem 0px;
        background: black;
        color: white;
        text-align: center;
        .title {
            font-size: 32px;
            margin-bottom: 1.5rem;
        }
        .img-gallary-down-btn button {
            padding: 1.25rem 2.25rem;
            font-size: 0.85rem;
            font-weight: 700;
            text-transform: uppercase;
            border: none;
            border-radius: 10rem;
            border-color: $white;
            background: $white;
            color: $black;
        }
    }
    .registration-form {
        text-align: center;
        padding: 8rem;
        .heading {
            font-size: 2rem;
        }
        .devider {
            width: 3.25rem;
            margin: 1.5rem auto;
            opacity: 1;
            border: 1px solid #f4623a;
            background: #f4623a;
        }
        .form-fields {
            display: flex;
            flex-direction: column;
            width: 50%;
            margin: 0 auto;
            button {
                padding: 1.25rem 2.25rem;
                font-size: 0.85rem;
                font-weight: 700;
                text-transform: uppercase;
                border: none;
                border-radius: 10rem;
                border-color: #f4623a;
                background: #f4623a;
                color: white;
                opacity: 0.65;
                pointer-events: none;
                margin-bottom: 3rem !important;
            }
        }
        .form-fields .form-control {
            padding: 1rem 0.75rem;
            text-transform: capitalize;
            margin-bottom: 1.5rem;
            border: 1px solid #ced4da;
            border-radius: 0.375rem;
            &.message {
                height: 10rem;
            }
        }
        .contact-info {
            text-align: center;
            i {
                font-size: 2rem;
                color: #6c757d;
            }
        }
    }

    .footer {
        color: #6c757d;
        font-size: 14px;
        bottom: 0;
        text-align: center;
        padding-bottom: 3rem;
    }
}
